In [31]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import numpy as np

data = r'C:\Users\jimofunanya\Desktop\Data Science Class 2\household_power_consump.CSV'
household = pd.read_csv(data, sep=';', low_memory=False)
household.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [32]:
household.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
Date                     object
Time                     object
Global_active_power      object
Global_reactive_power    object
Voltage                  object
Global_intensity         object
Sub_metering_1           object
Sub_metering_2           object
Sub_metering_3           float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [33]:
del household['Sub_metering_2']
del household['Sub_metering_3']
household.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000

In [34]:
household.bfill(axis=0)
household.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000

In [38]:
sns.pairplot(household)
plt.show()

IndexError: index -1 is out of bounds for axis 0 with size 0